USE [QLyChungCu]
GO
/****** Object:  Table [dbo].[DANCU]    Script Date: 12/8/2022 1:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANCU](
	[MADCU] [nvarchar](40) NOT NULL,
	[CMND] [nvarchar](20) NULL,
	[TENCUDAN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NOISINH] [nvarchar](50) NULL,
	[QUEQUAN] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[DANTOC] [nvarchar](20) NULL,
	[QUOCTICH] [nvarchar](20) NULL,
	[NOITHUONGTRU] [nvarchar](100) NULL,
	[NGAYCAP] [date] NULL,
	[NOICAP] [nvarchar](50) NULL,
	[TIENGDANTOC] [nvarchar](20) NULL,
	[NGHENGHIEP] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
	[VAITRO] [nvarchar](50) NULL,
	[MAPHONG] [nvarchar](30) NULL,
	[NOILAMVIEC] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADCU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 12/8/2022 1:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [nvarchar](30) NOT NULL,
	[GIAPHONG] [int] NULL,
	[SONGUOI] [nvarchar](10) NULL,
	[TINHTRANGPHONG] [nvarchar](50) NULL,
	[MATB] [nvarchar](10) NULL,
	[MASUCO] [nvarchar](10) NULL,
	[MATK] [nvarchar](30) NULL,
	[MACN] [nvarchar](10) NULL,
	[SOPHONG] [nvarchar](10) NULL,
 CONSTRAINT [PK__PHONG__CE71B252AC0A3995] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_HINH]    Script Date: 12/8/2022 1:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_HINH](
	[IDHINH] [int] IDENTITY(1,1) NOT NULL,
	[IDDANCU] [nvarchar](40) NOT NULL,
	[TENHINH] [varchar](50) NULL,
 CONSTRAINT [key_1] PRIMARY KEY CLUSTERED 
(
	[IDHINH] ASC,
	[IDDANCU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_LAMAT]    Script Date: 12/8/2022 1:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_LAMAT](
	[ID_LAMAT] [int] IDENTITY(1,1) NOT NULL,
	[HINH] [varchar](50) NULL,
	[CAMERA] [nvarchar](10) NULL,
	[THOIDIEM] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LAMAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_LICHSU]    Script Date: 12/8/2022 1:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_LICHSU](
	[IDDANCU] [nvarchar](40) NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[CAMERA] [nvarchar](10) NULL,
 CONSTRAINT [key_8] PRIMARY KEY CLUSTERED 
(
	[IDDANCU] ASC,
	[THOIGIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_TAIKHOAN]    Script Date: 12/8/2022 1:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_TAIKHOAN](
	[TENDN] [char](50) NOT NULL,
	[MATKHAU] [char](100) NULL,
	[HOTEN] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[CMND] [char](30) NULL,
	[SDT] [char](12) NULL,
	[DIACHI] [nvarchar](150) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[QUYEN] [nvarchar](30) NULL,
	[HINHANH] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[TENDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_THOILUONG]    Script Date: 12/8/2022 1:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_THOILUONG](
	[ID_THOILUONG] [int] IDENTITY(1,1) NOT NULL,
	[ID_DANCU] [nvarchar](40) NOT NULL,
	[NGAYHIENTAI] [date] NOT NULL,
	[GIORA] [time](7) NULL,
	[GIOVAO] [time](7) NULL,
	[LANTHU] [int] NULL,
 CONSTRAINT [pkey_1] PRIMARY KEY CLUSTERED 
(
	[ID_THOILUONG] ASC,
	[ID_DANCU] ASC,
	[NGAYHIENTAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_TRANGTHAICAMERA]    Script Date: 12/8/2022 1:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_TRANGTHAICAMERA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TAIKHOAN] [char](50) NULL,
	[TEN_NUT] [nvarchar](30) NULL,
	[TRANGTHAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DANCU] ([MADCU], [CMND], [TENCUDAN], [NGAYSINH], [GIOITINH], [NOISINH], [QUEQUAN], [SDT], [DANTOC], [QUOCTICH], [NOITHUONGTRU], [NGAYCAP], [NOICAP], [TIENGDANTOC], [NGHENGHIEP], [EMAIL], [TRANGTHAI], [VAITRO], [MAPHONG], [NOILAMVIEC]) VALUES (N'101079203037110', N'079203037110', N'Nguyễn Hồng Quốc Việt', CAST(N'2003-06-27' AS Date), N'Nam', N'Thành phố Hồ Chí Minh', N'Tỉnh Thừa Thiên Huế', NULL, N'Kinh', N'Việt Nam', N'147 Phạm Văn Trí, phường 3,quận 6, Tp. HCM', CAST(N'2020-06-12' AS Date), N'CTCCSQLHCVTTXH', N'Kinh', N'Sinh Viên', NULL, 1, N'Bạn', N'101', NULL)
GO
INSERT [dbo].[PHONG] ([MAPHONG], [GIAPHONG], [SONGUOI], [TINHTRANGPHONG], [MATB], [MASUCO], [MATK], [MACN], [SOPHONG]) VALUES (N'101', 2200000, NULL, N'Mới', NULL, NULL, N'TP101', N'CN001', N'101')
INSERT [dbo].[PHONG] ([MAPHONG], [GIAPHONG], [SONGUOI], [TINHTRANGPHONG], [MATB], [MASUCO], [MATK], [MACN], [SOPHONG]) VALUES (N'102', 2000000, NULL, N'Mới', NULL, NULL, N'TP102', N'CN001', N'102')
INSERT [dbo].[PHONG] ([MAPHONG], [GIAPHONG], [SONGUOI], [TINHTRANGPHONG], [MATB], [MASUCO], [MATK], [MACN], [SOPHONG]) VALUES (N'103', 2000000, NULL, N'Mới', NULL, NULL, N'TP103', N'CN001', N'103')
GO
--SET IDENTITY_INSERT [dbo].[RAVAO_HINH] ON 

--INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (66, N'101082203001007', N'Cuong1-4.bmp')
--INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (67, N'101079203037110', N'Viet1-5.bmp')
--INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (68, N'101079203037110', N'Viet2-6.bmp')
--INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (69, N'101082203001011', N'Cong1-51.bmp')
--INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (70, N'101082203001011', N'Cong2-61.bmp')
--INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (71, N'101082203001011', N'Cong3-72.bmp')
--INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (72, N'102312187299', N'Khoa1-81.bmp')
--INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (73, N'102312187299', N'Khoa2-91.bmp')
--INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (74, N'102312187299', N'Khoa3-102.bmp')
--INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (75, N'102312187299', N'Khoa4-113.bmp')
--INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (76, N'102312187299', N'Khoa5-124.bmp')
--INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (77, N'102312187299', N'Khoa6-135.bmp')
--INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (78, N'102312187299', N'Khoa7-146.bmp')
--INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (79, N'102290874355', N'Tho4-151.bmp')
--INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (80, N'103225626801', N'Ngan1-161.bmp')
--SET IDENTITY_INSERT [dbo].[RAVAO_HINH] OFF
--GO
--SET IDENTITY_INSERT [dbo].[RAVAO_LAMAT] ON 

--INSERT [dbo].[RAVAO_LAMAT] ([ID_LAMAT], [HINH], [CAMERA], [THOIDIEM]) VALUES (99, N'lamat1.png', N'Cổng vào', N'15/11/2021 10:22:58 PM')
--SET IDENTITY_INSERT [dbo].[RAVAO_LAMAT] OFF
--GO
INSERT [dbo].[RAVAO_LICHSU] ([IDDANCU], [THOIGIAN], [CAMERA]) VALUES (N'101079203037110', CAST(N'2021-11-13T18:43:27.160' AS DateTime), N'Cổng ra')
INSERT [dbo].[RAVAO_LICHSU] ([IDDANCU], [THOIGIAN], [CAMERA]) VALUES (N'101079203037110', CAST(N'2021-11-13T18:43:57.330' AS DateTime), N'Cổng vào')
INSERT [dbo].[RAVAO_LICHSU] ([IDDANCU], [THOIGIAN], [CAMERA]) VALUES (N'101079203037110', CAST(N'2021-11-13T18:47:40.220' AS DateTime), N'Cổng ra')
GO
INSERT [dbo].[RAVAO_TAIKHOAN] ([TENDN], [MATKHAU], [HOTEN], [NGAYSINH], [GIOITINH], [CMND], [SDT], [DIACHI], [CHUCVU], [QUYEN], [HINHANH]) VALUES (N'admin                                             ', N'123456                                                                                              ', N'Vũ Minh Tú Anh', CAST(N'1997-09-04' AS Date), N'Nữ', N'025430380                     ', N'1111111111  ', N'Hồ Chí Minh', N'ADMIN', N'1', NULL)
INSERT [dbo].[RAVAO_TAIKHOAN] ([TENDN], [MATKHAU], [HOTEN], [NGAYSINH], [GIOITINH], [CMND], [SDT], [DIACHI], [CHUCVU], [QUYEN], [HINHANH]) VALUES (N'baove                                             ', N'123456                                                                                              ', N'Vũ Minh Anh', CAST(N'1985-05-07' AS Date), N'Nam', N'021234567                     ', N'1111111111  ', N'Hà Nội', N'SECURITY', N'0', NULL)
INSERT [dbo].[RAVAO_TAIKHOAN] ([TENDN], [MATKHAU], [HOTEN], [NGAYSINH], [GIOITINH], [CMND], [SDT], [DIACHI], [CHUCVU], [QUYEN], [HINHANH]) VALUES (N'baove2                                            ', N'123456                                                                                              ', N'Vũ Minh Anh', CAST(N'1985-05-07' AS Date), N'Nam', N'021234567                     ', N'1111111111  ', N'Hà Nội', N'SECURITY', N'0', NULL)
GO
SET IDENTITY_INSERT [dbo].[RAVAO_THOILUONG] ON 

INSERT [dbo].[RAVAO_THOILUONG] ([ID_THOILUONG], [ID_DANCU], [NGAYHIENTAI], [GIORA], [GIOVAO], [LANTHU]) VALUES (13, N'101079203037110', CAST(N'2021-11-13' AS Date), CAST(N'18:43:27' AS Time), CAST(N'18:43:57' AS Time), 1)
INSERT [dbo].[RAVAO_THOILUONG] ([ID_THOILUONG], [ID_DANCU], [NGAYHIENTAI], [GIORA], [GIOVAO], [LANTHU]) VALUES (14, N'101079203037110', CAST(N'2021-11-13' AS Date), CAST(N'18:47:40' AS Time), CAST(N'18:53:02' AS Time), 2)
INSERT [dbo].[RAVAO_THOILUONG] ([ID_THOILUONG], [ID_DANCU], [NGAYHIENTAI], [GIORA], [GIOVAO], [LANTHU]) VALUES (15, N'101079203037110', CAST(N'2021-11-13' AS Date), CAST(N'18:58:22' AS Time), CAST(N'18:58:52' AS Time), 3)
SET IDENTITY_INSERT [dbo].[RAVAO_THOILUONG] OFF
GO
ALTER TABLE [dbo].[DANCU]  WITH CHECK ADD  CONSTRAINT [FK_CUDAN_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[DANCU] CHECK CONSTRAINT [FK_CUDAN_PHONG]
GO
ALTER TABLE [dbo].[RAVAO_HINH]  WITH CHECK ADD  CONSTRAINT [key_2] FOREIGN KEY([IDDANCU])
REFERENCES [dbo].[DANCU] ([MADCU])
GO
ALTER TABLE [dbo].[RAVAO_HINH] CHECK CONSTRAINT [key_2]
GO
ALTER TABLE [dbo].[RAVAO_LICHSU]  WITH CHECK ADD  CONSTRAINT [key_9] FOREIGN KEY([IDDANCU])
REFERENCES [dbo].[DANCU] ([MADCU])
GO
ALTER TABLE [dbo].[RAVAO_LICHSU] CHECK CONSTRAINT [key_9]
GO
ALTER TABLE [dbo].[RAVAO_THOILUONG]  WITH CHECK ADD  CONSTRAINT [pkey_2] FOREIGN KEY([ID_DANCU])
REFERENCES [dbo].[DANCU] ([MADCU])
GO
ALTER TABLE [dbo].[RAVAO_THOILUONG] CHECK CONSTRAINT [pkey_2]
GO
ALTER TABLE [dbo].[RAVAO_TRANGTHAICAMERA]  WITH CHECK ADD  CONSTRAINT [for_key10] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[RAVAO_TAIKHOAN] ([TENDN])
GO
ALTER TABLE [dbo].[RAVAO_TRANGTHAICAMERA] CHECK CONSTRAINT [for_key10]
GO

SET QUOTED_IDENTIFIER ON
GO
update DANCU set [TENCUDAN]=N'Nguyễn Tuấn Phi', [GIOITINH] = 'Nam', [NGAYSINH] = CAST(N'1997-04-09' AS Date) where [MADCU] like '104241731556'
update DANCU set [TENCUDAN]=N'Vũ Minh Tú Anh', [GIOITINH] = 'Nữ', [NGAYSINH] = CAST(N'2000-04-11' AS Date) where [MADCU] like '104352618518'
update DANCU set [TENCUDAN]=N'Trần Trấn Thành', [GIOITINH] = 'Nam' where [MADCU] like '101079203037110'
GO
SET QUOTED_IDENTIFIER OFF
GO