<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MultiFaceRec.Properties.Settings.QuanLyRaVaoConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=QLyChungCu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MultiFaceRec.Properties.Settings.QuanLyRaVaoNhom2ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=QLyChungCu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MultiFaceRec.Properties.Settings.QuanLyRaVao_Nhom2ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=QLyChungCu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MultiFaceRec.Properties.Settings.QuanLyRaVao_Nhom2ConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=QLyChungCu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MultiFaceRec.Properties.Settings.QLyChungCuConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=QLyChungCu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MultiFaceRec.Properties.Settings.QLyChungCuConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=QLyChungCu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
